* {
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}

body {
  background-color: hsl(212, 45%, 89%);
  display: grid;
  place-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}
